@import "./breakpoints/extra_small_devices.css" screen and (max-width: 576px);
@import "./breakpoints/small_devices.css" screen and (min-width: 576px) and
  (max-width: 768px);
@import "./breakpoints/medium_devices.css" screen and (min-width: 768px) and
  (max-width: 992px);

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  scroll-behavior: smooth;
  /* scroll-margin: 20px; */
}

body {
  background-color: #fff;
  color: #383838;
}

a {
  color: black;
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

input::placeholder {
  color: #5a5057;
  font-weight: 400;
}

ul li {
  list-style: none;
}

header {
  padding: 10px 0;
  overflow: hidden;
}

section {
  width: 100vw;
  height: 540px;
  max-width: 100%;
  overflow: hidden;
}

section .title {
  text-align: center;
  padding: 4% 0;
  font-size: 2rem;
  font-weight: 700;

  /* font-family: "DM Serif Display", sans-serif; */
}

/*   --------------------->   css for header section  <---------------------  */

.header {
  display: flex;
  position: relative;
  justify-content: start;
  align-items: center;
  align-content: center;
}

.logo {
  display: flex;
  align-items: center;
  align-content: center;
}
.logo img {
  max-width: 60px;
}
.logo a {
  color: #a92570;
  padding: 0;
}
.logo h1 {
  font-weight: 700;
  font-size: 2rem !important;
  margin-top: 20%;
  line-height: 0.3;
}
.logo span {
  color: #288692;
}

.enquiry {
  color: #0a7d98;
  font-family: "Roboto", sans-serif;
  font-size: large;
  margin-left: 15px;
}
.enquiry p {
  border-left: 2px solid #288692;
}
.enquiry p span {
  padding: 0 5px 0 15px;
}
.enquiry p span img {
  max-width: 20px;
}

nav {
  display: inline-flex;
  position: absolute;
  right: 0;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  margin-bottom: 0rem !important;
}

nav ul li a {
  margin-left: 2rem;
  font-size: larger;
  font-weight: 600;
  color: #a92570;
}
nav ul li a:hover {
  color: #0093de;
  border-bottom: 2px solid #a92570;
}

.btn {
  box-shadow: none !important;
}

.container {
  width: 100%;
  height: 100%;
}

#menuToggle {
  display: none;
}

/* floating buttons  */

.btn-float {
  position: fixed;
  width: 60px;
  height: 60px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.call-btn-float {
  bottom: 115px;
  right: 40px;
  background-color: #0093de;
}

.whatsapp-btn-float {
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
}

.my-float {
  margin-top: 16px;
}

/*   --------------------->   css for home section  <---------------------  */

#home {
  position: relative;
  background-image: url("../images/home-page-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  box-shadow: inset 50px 0px 150px black;
}
.home {
  height: 100%;
}
.home-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 80%;
  margin-bottom: 5rem;
}
.text {
  display: flex;
  align-items: center;
  align-content: center;
}

.text h1 {
  display: inline-block;
  font-size: 3rem;
  /* color: #288692; */
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  line-height: 1;
  border-right: 2px solid white;
  padding-right: 2rem;
  text-shadow: 0px 1px 1px black;
}

.text h1 span {
  /* color: #a92570; */
  color: #a85684;
  font-size: 6rem;
  font-weight: 700;
}

.text ul {
  display: inline-block;
  color: #4ab4e6;
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 0px 1px 1px black;
}

/* book appointment popupbox  */

.book-apt-btn {
  margin-top: 2rem;
  margin-left: 0 !important;
  transition: none !important;
}

.book-apt-btn .btn {
  background-color: #a92570;
  color: #fff;
  font-size: medium;
  font-weight: 600;
  border: none;
  transition: color 0s;
}

.book-apt-btn .btn:hover {
  background-color: #288692;
}

.btn-primary {
  margin-left: 19rem;
}

.popup-container {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
  backdrop-filter: blur(25px);
  width: 50vw;
  max-height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  visibility: hidden;
  transition: transform 0.4s, scale 0.4s;
  z-index: 100;
}

.open-popup {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.appointment_form {
  /* display: none; */
  position: relative;
  max-width: 24rem;
  max-height: 32rem;
  background-color: rgba(56, 56, 56, 0.4);
  padding: 2rem 1rem;
  border-radius: 15px;
  color: #fff;
  z-index: 100;
}
.appointment_form p {
  margin-bottom: 0;
}
.appointment_form legend {
  font-size: 1.3rem;
  font-weight: 700;
  /* color: #6699a0; */
  /* color: #0093de; */
}

.appointment_form .input,
textarea {
  width: 100%;
  height: 2rem;
  padding: 1% 3%;
  margin-bottom: 1rem;
  border-radius: 5px;
  color: #5a5057;
  font-size: medium;
}

.appointment_form textarea {
  width: 100%;
  height: 4rem;
  resize: none;
}

.appointment_form textarea:focus {
  outline: 0;
}

.submit-btn {
  margin-top: 1rem;
  width: 100%;
  font-weight: 700 !important;
  background-color: #288692;
  color: #fff;
  border: none;
  border-radius: 10px;
  letter-spacing: 1px;
}
.submit-btn:hover {
  background-color: #a85684;
  color: #fff;
}

.close svg {
  display: inline-flex;
  position: absolute;
  top: 1rem;
  right: 1rem;
  /* color: rgba(211, 5, 5, 0.548); */
  color: #a92570;
  cursor: pointer;
  z-index: 100;
}

.confirmation-box {
  display: none;
  text-align: center;
  position: relative;
  min-width: 20rem;
  min-height: 22rem;
  background-color: rgba(5, 250, 5, 0.4);
  padding: 2rem 1rem;
  border-radius: 15px;
  color: #fff;
  z-index: 100;
}
.confirmation-box .cnfm-text {
  margin-top: 50%;
  transform: translateY(-50%);
}

/*   --------------------->   css for specialists section  <---------------------  */

#specialists {
  background-color: #6699a0;
  position: relative;
}

#specialists h1 {
  color: #fff;
}

/* .specialists {
  display: flex;
  justify-content: space-between;
} */

.owl-carousel.off {
  display: flex;
  justify-content: space-between;
}

.owl-carousel {
  z-index: 0 !important;
}

.owl-carousel .owl-item img {
  width: 0rem;
}

/* .owl-carousel .item {
  margin-left: 40%;
  transform: translateX(-50%);
} */

.doctor-card {
  height: 22rem;
  width: 18rem;
  background-color: #fff;
  box-shadow: 0px 15px 10px -15px #383838;
  border-radius: 10px;
  overflow: hidden;
  padding: 5% 2%;
  text-align: center;
}

.doctor-card img {
  width: 8rem !important;
  height: 8rem;
  border-radius: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  border: thick double #cbcbcb;
  object-fit: cover;
  object-position: center top;
}

.doctor-name {
  font-size: 1.5rem;
}

.doctor-qualification {
  font-size: 0.8rem;
}

.team_text {
  margin-top: 1.5rem;
}

.team_text h4 {
  color: #a85684;
}

.team_text span {
  font-size: smaller;
}

/*   --------------------->   css for facilities section  <---------------------  */

.disable-height {
  height: fit-content;
}

#facilities {
  position: relative;
  height: 80vh;
}

.facilities.owl-item img {
  display: inline-block;
}

.facilities {
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-align: center;
  color: #383838;
}

.facilities .item {
  text-align: center;
}

.facilities .item img {
  width: 150px !important;
}

.facilities .owl-item img {
  display: inline-block;
}

.facilities .item p {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

/*   --------------------->   css for about section  <---------------------  */

#about {
  position: relative;
  background-color: #a85684;
}

#about h1 {
  color: #fff;
}
.mask {
  width: 100%;
  height: 100%;
  background: url("../icons/about-page-bg.svg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.about {
  margin: 2%;
  text-align: center;
  color: #fff;
}

.about p {
  font-size: 1.5rem;
  line-height: 1.5;
}

/*   --------------------->   css for contact section  <---------------------  */

#contact {
  position: relative;
  /* height: 100% !important; */
  height: 650px;
}
.contact {
  display: flex;
  justify-content: space-evenly;
  min-height: 75%;
}
.contact h3 {
  margin-bottom: 7%;
  text-align: center;
}

.feedback {
  width: 45%;
  padding-right: 2%;
  border-right: 1px solid #288692;
}

.feedback form input {
  margin-top: 5%;
  width: 100%;
  padding: 1% 3%;
  border-bottom: 1px solid #288692;
}

.feedback form textarea {
  width: 100%;
  height: 5rem;
  resize: none;
  border: none;
  border-bottom: 1px solid #288692;
}

.feedback form textarea:focus {
  outline: 0;
}

.find-us {
  width: 50%;
}

.map {
  width: 100%;
  height: 100%;
}

/*   --------------------->   css for footer section  <---------------------  */

footer {
  position: relative;
  width: 100%;
  bottom: 0;
  background-color: #0e2f33;
  color: #fff;
  padding: 3% 6% 8%;
  text-align: center;
  /* z-index: 1; */
}

footer p {
  margin-bottom: 0rem;
}

.social .bi {
  font-size: large;
}

.social .bi:hover {
  cursor: pointer;
  color: #999;
}

.follow-us {
  margin: 4% 0;
}
.social {
  display: flex;
  justify-content: start;
  padding: 0 !important;
}

.social li {
  margin-right: 15%;
}

footer .copyRight {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: black;
  color: #adadad;
  font-size: 0.7rem;
  padding: 1% 0;
  z-index: 1;
}

footer .copyRight a {
  text-decoration: none;
  font-family: "Pacifico", cursive;
  /* font-family: 'Smooch', cursive; */
  color: #fff;
  transition: 0.5s;
}

footer .copyRight a:hover {
  color: #a92570;
}

.footerLinks {
  display: flex;
  text-align: left;
  justify-content: space-between;
  z-index: 1;
}

.footerLinks div {
  width: 15rem;
}

.footerLinks div ul {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  padding: 10% 0%;
  word-wrap: break-word !important;
  z-index: 1;
}

.footerLinks div ul li {
  padding: 2% 0;
}

.footerLinks div ul li span{
  word-break: break-all;
}

.footerLinks div ul .fas {
  margin-right: 5%;
}

.footerLinks div ul li a {
  text-decoration: none;
  color: #fff;
  margin-left: 5%;
}

.footerLinks div ul li a:hover {
  color: #adadad;
  transition: 1s;
}
