/* Extra small devices (phones, 576px and down) */
/* min-width: 576px) */

section .title {
  font-size: 1.5rem !important;
  margin: 10% 0 !important;
}

/*   --------------------->   css for header section  <---------------------  */

.enquiry {
  display: none;
}

nav {
  display: none !important;
}

/* hamburgermenu */
#menuToggle {
  display: block !important;
  position: absolute;
  top: 45px;
  right: 50px;
  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle li a {
  margin-left: 2rem;
  color: #fff;

  transition: color 0.3s ease;
}

#menuToggle li a:hover {
  color: #0093de;
  border-bottom: 2px solid #a92570;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #0191dd;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  z-index: 1;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*  Transform all the slices of hamburger into a crossmark. */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #dd117a;
}

/* hide the middle one. */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/* the last one should go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: fixed;
  width: 250px;
  height: 350px;
  margin: 38px 0 0 -160px;
  padding: 30px 35px;
  backdrop-filter: blur(25px);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transform-origin: 0% 0%;
  transform: translate(100%, 0%);
  visibility: hidden;
  z-index: 10;
}

#menu li {
  padding: 10px 0;
  font-size: 25px;
}

/* slide it in from the left */
#menuToggle input:checked ~ ul {
  transform: none;
  visibility:visible;
}

.btn-float {
  width: 50px !important;
  height: 50px !important;
}

.my-float {
  margin-top: 11px !important;
}

.call-btn-float {
  bottom: 100px !important;
  right: 30px !important;
}

.whatsapp-btn-float {
  right: 30px !important;
}

/*   --------------------->   css for home section  <---------------------  */

#home {
  background-position: right !important;
}

.text {
  display: flex;
  flex-direction: column;
}

.text h1 {
  font-size: 2rem !important;
  border-right: none !important;
  border-bottom: 2px solid white;
}

.text h1 span {
  font-size: 4rem !important;
}

.text ul {
  font-size: 1rem !important;
}

.popup-container {
  width: 100vw !important;
  height: 100vh !important;
  padding: 0.5rem 0.5rem !important;
}

.appointment_form {
  width: 100% !important;
}

.appointment_form legend {
  font-size: 1.2rem !important;
}

/*   --------------------->   css for specialists section  <---------------------  */

.doctor-card {
  margin: auto;
}

/*   --------------------->   css for facilities section  <---------------------  */

#facilities {
  height: 65% !important;
}

.facilities {
  margin-top: 4rem !important;
}

.facilities ul li img {
  display: inline !important;
  width: 400px !important;
}

.facilities ul li p {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

/*   --------------------->   css for about section  <---------------------  */

.about {
  /* display: inline-block !important; */
  margin: 4% 0 !important;
}

.about p {
  font-size: 1.2rem !important;
  line-height: 1.5;
}

/* Contact section  */

#contact {
  height: 100% !important;
}

.contact {
  display: flex;
  flex-direction: column;
}

.feedback{
  width: 100% !important;
  border: none !important;
}

.find-us {
  margin-top: 40px !important;
  width: 100% !important;
}



.map {
  height: 500px !important;
  margin-bottom: 10% !important;
}

/*   --------------------->   css for footer section  <---------------------  */

.footerLinks div ul {
  font-size: 0.6rem !important;
}
