/* Medium devices (landscape tablets, 768px and up) */
/* min-width: 768px) and (max-width: 992px) */

/*   --------------------->   css for header section  <---------------------  */

nav {
  bottom: 0;
}

/*   --------------------->   css for header section  <---------------------  */

.popup-container {
  width: 80vw !important;
  padding: 0.5rem 0.5rem !important;
}

.appointment_form {
  width: 100% !important;
}



/*   --------------------->   css for about section  <---------------------  */

.about {
  margin: 5% 0 !important;
}

.about p {
  font-size: 1.4rem !important;
}

/*   --------------------->   css for contact section  <---------------------  */

.send_message {
  width: 35% !important;
}

.location {
  width: 60% !important;
}
