/* Medium devices (landscape tablets, 768px and up) */
/* min-width: 768px) and (max-width: 992px) */



/* Header section  */
nav {
    bottom: 0;
  }

/* About section  */
.about {
  margin: 5%  0!important;
}

  .about p {
    font-size: 1.4rem !important;
}

/* Contact section  */

.send_message {
    width: 35% !important;
  }
  
  .location {
    width: 60% !important;
  }

